impl/.*.sw*
src/.*.sw*
src/.vgaminikbd.v.swp
src/.vga.v.swp
src/.uart.v.swp
src/.tb.v.swp
src/.keysynchronizer.v.swp
src/.hvsync.v.swp
src/.heartbeat.v.swp
impl/gwsynthesis/.vgaminikbd.vg.swp
impl/gwsynthesis/vgaminikbd.log
impl/gwsynthesis/vgaminikbd.prj
impl/gwsynthesis/vgaminikbd.vg
impl/gwsynthesis/vgaminikbd_syn.rpt.html
impl/gwsynthesis/vgaminikbd_syn_resource.html
impl/gwsynthesis/vgaminikbd_syn_rsc.xml
impl/pnr/cmd.do
impl/pnr/vgaminikbd.bin
impl/pnr/vgaminikbd.binx
impl/pnr/vgaminikbd.db
impl/pnr/vgaminikbd.fs
impl/pnr/vgaminikbd.log
impl/pnr/vgaminikbd.pin.html
impl/pnr/vgaminikbd.power.html
impl/pnr/vgaminikbd.rpt.html
impl/pnr/vgaminikbd.rpt.txt
impl/pnr/vgaminikbd.timing_paths
impl/pnr/vgaminikbd_tr_content.html
impl/temp/rtl_parser.result
impl/temp/rtl_parser_arg.json
impl/gwsynthesis/vgaminikbd.log
impl/gwsynthesis/vgaminikbd.prj
impl/gwsynthesis/vgaminikbd.vg
impl/gwsynthesis/vgaminikbd_syn.rpt.html
impl/gwsynthesis/vgaminikbd_syn_resource.html
impl/gwsynthesis/vgaminikbd_syn_rsc.xml
impl/pnr/cmd.do
impl/pnr/vgaminikbd.bin
impl/pnr/vgaminikbd.binx
impl/pnr/vgaminikbd.db
impl/pnr/vgaminikbd.fs
impl/pnr/vgaminikbd.log
impl/pnr/vgaminikbd.pin.html
impl/pnr/vgaminikbd.power.html
impl/pnr/vgaminikbd.rpt.html
impl/pnr/vgaminikbd.rpt.txt
impl/pnr/vgaminikbd.timing_paths
impl/pnr/vgaminikbd_tr_content.html
impl/temp/rtl_parser.result
impl/temp/rtl_parser_arg.json
impl/gwsynthesis/vgaminikbd.log
*.xlsx#
*.swp
