impl/.*.sw*
src/.*.sw*
src/.vgaminikbd.v.swp
src/.vga.v.swp
src/.uart.v.swp
src/.tb.v.swp
src/.keysynchronizer.v.swp
src/.hvsync.v.swp
src/.heartbeat.v.swp
impl/gwsynthesis/.vgaminikbd.vg.sw*
impl/temp/*
*.xlsx#
*.sw*
scripts/__pycache__/*
src/charROM/charROM_tmp.v
