//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Fri 04 25 14:07:31 2025

IO_LOC "keyA" 13;
IO_PORT "keyA" IO_TYPE=LVTTL33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "keyB" 44;
IO_PORT "keyB" IO_TYPE=LVTTL33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "vsync" 18;
IO_PORT "vsync" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "hsync" 22;
IO_PORT "hsync" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "pixel" 23;
IO_PORT "pixel" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "debug0" 11;
IO_PORT "debug0" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "debug1" 9;
IO_PORT "debug1" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "debug2" 10;
IO_PORT "debug2" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "UART_TX0" 17;
IO_PORT "UART_TX0" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clkin" 47;
IO_PORT "clkin" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "UART_RX0" 16;
IO_PORT "UART_RX0" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "KBD_DATA" 19;
IO_PORT "KBD_DATA" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "KBD_CLK" 29;
IO_PORT "KBD_CLK" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

